.chest {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00000056;
  color: #00000081;
  background: #dd9a08;
  cursor: pointer;
}

.chest:focus {
  outline: none;
}

.chest:hover,
.chest:active {
  background: #dd9a08;
  border-color: #dd9a08;
}
