body {
  padding: 50px;
  z-index: -1;
  background: url('components/UI/backgrounds/tree-2725198.jpg') 0 0 no-repeat;
  /* transform: rotate(90deg); */
  background-size: 310%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
